<form [formGroup]="indexFormGroup">
  <div formControlName="firstparasm"></div>
  <div formGroupName="firstNested">
    <div formGroupName="secondNested"></div>
  </div>
</form>
<section class="flex justify-content-evenly align-items-start p-2 m-2">
  <!-- product image -->
  <img src="assets/images/product.jpg" alt="product" class="w-5" />

  <div class="px-4 w-5">
    <!-- product information -->

    <div class="py-3 mb-2 w-full">
      <h1 class="py-2">{{ productInfo.title }}</h1>
      <h3 class="py-2">{{ productInfo.category }}</h3>
      <p class="py-2"><span>کد کالا : </span> {{ productInfo.id }}</p>
      <p class="py-2"><span>قیمت کالا : </span>{{ productInfo.price }} ریال</p>
    </div>

    <p-divider styleClass="w-full mx-auto my-2"></p-divider>

    <!-- product size and color -->

    <div class="py-3 mb-2 w-full flex align-items-center">
      <p-button
        label="{{ shoppingCardButton }}"
        styleClass="p-button-raised p-button-text p-button-secondary p-2 m-1 mx-2"
      ></p-button>
      <p-button
        icon="pi pi-heart"
        styleClass="p-button-rounded p-button-secondary p-button-text p-button-raised mx-2"
      ></p-button>
      <p class="mx-1 text-sm">اضافه کردن به علاقه مندی ها</p>
    </div>

    <p-divider styleClass="w-full mx-auto my-2"></p-divider>

    <!-- product feedback -->

    <div class="w-full">
      <div class="p-2 w-full flex justify-content-center align-items-center">
        <img
          class="m-2 cursor-pointer"
          width="{{ productIconSize }}"
          height="{{ productIconSize }}"
          src="https://img.icons8.com/ios/50/facebook-new.png"
          alt="facebook-new"
        />
        <img
          class="m-2 cursor-pointer"
          width="{{ productIconSize }}"
          height="{{ productIconSize }}"
          src="https://img.icons8.com/ios/50/pinterest--v1.png"
          alt="pinterest--v1"
        />
        <img
          class="m-2 cursor-pointer"
          width="{{ productIconSize }}"
          height="{{ productIconSize }}"
          src="https://img.icons8.com/ios/50/instagram-new--v1.png"
          alt="instagram-new--v1"
        />
        <img
          class="m-2 cursor-pointer"
          width="{{ productIconSize }}"
          height="{{ productIconSize }}"
          src="https://img.icons8.com/ios/50/new-post--v1.png"
          alt="new-post--v1"
        />
        <img
          class="m-2 cursor-pointer"
          width="{{ productIconSize }}"
          height="{{ productIconSize }}"
          src="https://img.icons8.com/ios/50/google-logo--v1.png"
          alt="google-logo--v1"
        />
        <p-button
          label="{{ productCommentButton }}"
          styleClass="p-button-raised p-button-text p-button-secondary p-2 m-1"
          (onClick)="onToggleComment()"
        ></p-button>
      </div>
    </div>
    <ng-container *ngIf="this.toggleComment" class="w-full flex flex-column">
      <span class="p-float-label">
        <input pInputText id="username" [(ngModel)]="valueUsername" />
        <label htmlFor="username">Username</label>
      </span>
      <p-rating [(ngModel)]="value" [cancel]="false"></p-rating>
      <p-button
        label="{{ productSendComment }}"
        styleClass="p-button-raised p-button-text p-button-secondary p-1 mx-auto my-2"
        (onClick)="onToggleComment()"
      ></p-button>
    </ng-container>
  </div>
</section>

<p-divider styleClass="w-10 mx-auto mt-4"></p-divider>

<section>
  <div
    class="flex align-items-center my-3 p-2 w-full justify-content-center text-black"
  >
    <!-- product tab -->
    <div class="flex flex-column align-items-center justify-content-center">
      <ul class="flex">
        <li
          *ngFor="let tab of menuTabs; let i = index"
          [ngClass]="{ active: activeTabIndex === i }"
          (click)="setActiveTab(i)"
          class="px-4 text-xl cursor-pointer"
        >
          {{ tab.label }}
        </li>
      </ul>
      <div class="text-center p-4 m-1 text-md">
        <ng-container *ngFor="let tab of menuTabs; let i = index">
          <div *ngIf="activeTabIndex === i">
            {{ tab.content }}
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <p-divider styleClass="w-10 mx-auto"></p-divider>
  <section>comments</section>

  <p-divider styleClass="w-10 mx-auto"></p-divider>

  <!-- post -->

  <div>post</div>
</section>
