<div class="flex justify-content-space-evenly">
  <div class="w-8 flex flex-wrap justify-content-center">
    <ng-container *ngFor="let productPost of productPosts">
      <app-post [postData]="productPost"></app-post>
    </ng-container>
  </div>
  <div class="w-3 text-center mx-auto sticky mt-5 p-3">
    <div class="sticky top-0 py-8">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, cum
      tempore doloribus, eligendi dignissimos dolorem id, cumque accusamus
      assumenda eos itaque fuga a explicabo esse? Facere, fugiat blanditiis.
      Tempora, eos?
    </div>
  </div>
</div>
