<section class="flex justify-content-evenly align-items-center">
  <!-- product image -->
  <img src="assets/images/product.jpg" alt="product" class="w-4" />

  <div class="flex flex-column justify-content-start align-items-start px-4">
    <!-- product information -->

    <div>
      <h1>{{ productInfo.title }}</h1>
      <h3>{{ productInfo.category }}</h3>
      <p><span>کد کالا : </span> {{ productInfo.id }}</p>
      <p><span>قیمت کالا : </span>{{ productInfo.price }} ریال</p>
    </div>

    <!-- product size and color -->

    <div>product size and color</div>

    <!-- product feedback -->

    <div>
      <div class="p-2 w-4 flex justify-content-start align-items-center">
        <img
          class="mx-2"
          width="{{ productIconSize }}"
          height="{{ productIconSize }}"
          src="https://img.icons8.com/ios/50/facebook-new.png"
          alt="facebook-new"
        />
        <img
          class="mx-2"
          width="{{ productIconSize }}"
          height="{{ productIconSize }}"
          src="https://img.icons8.com/ios/50/pinterest--v1.png"
          alt="pinterest--v1"
        />
        <img
          class="mx-2"
          width="{{ productIconSize }}"
          height="{{ productIconSize }}"
          src="https://img.icons8.com/ios/50/instagram-new--v1.png"
          alt="instagram-new--v1"
        />
        <img
          class="mx-2"
          width="{{ productIconSize }}"
          height="{{ productIconSize }}"
          src="https://img.icons8.com/ios/50/new-post--v1.png"
          alt="new-post--v1"
        />
        <img
          class="mx-2"
          width="{{ productIconSize }}"
          height="{{ productIconSize }}"
          src="https://img.icons8.com/ios/50/google-logo--v1.png"
          alt="google-logo--v1"
        />
      </div>
    </div>
  </div>
</section>

<section>
  <div class="flex justify-content-around align-items-center my-3 p-2 w-full">
    <div class="card flex justify-content-center">
      <!-- <p-button label="نحوه ارسال" styleClass="p-button-link"></p-button>
      <p-button label="توضیحات" styleClass="p-button-link"></p-button>
      <p-button label="گارانتی" styleClass="p-button-link"></p-button> -->
    </div>
  </div>
  <!-- comments -->

  <div>comments</div>

  <!-- garentee -->

  <div>garentee</div>

  <!-- description -->

  <div>description</div>

  <!-- post -->

  <div>post</div>
</section>
<section>
  <div>
    <ng-template>videos</ng-template>
  </div>

  <!-- product post section -->

  <div>product post section</div>
</section>
