<!-- footer -->

<div class="line-height-4 bottom-0 right-0 left-0 static w-full">
  <!-- footer email input -->

  <div
    class="flex flex-column justify-content-center align-items-center mb-5 border-top-1 border py-4 mt-2 email-input-section"
  >
    <h1 class="text-2xl">با ما در ارتباط باشید</h1>
    <p class="text-sm">برای اطلاع از آخرین تخفیف ها عضو شوید</p>
    <img
      width="20"
      height="20"
      src="https://img.icons8.com/ios-glyphs/30/999999/more.png"
      alt="more"
    />
    <div class="my-1 border-none">
      <div class="w-30rem email-wrapper m-3">
        <input
          type="email"
          placeholder="ایمیل خود را وارد کنید"
          class="p-2 outline-none m-0 border-none email-wrapper w-9"
        />
        <button
          type="button"
          class="w-3 p-2 border-round-sm border-noround-right border-none cursor-pointer text-white bg-black-alpha-60"
        >
          خبرم کنید
        </button>
      </div>
    </div>
  </div>
  <!-- starting the footer box -->
  <div
    class="flex footer justify-content-evenly align-items-center text-white-alpha-80 p-7"
  >
    <!-- address and information section -->
    <div class="flex flex-column w-4">
      <h3 class="text-base">آدرس</h3>
      <div class="w-12rem">
        <p>
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
          از طراحان گرافیک است
        </p>
      </div>
      <p>با ما تماس بگیرید</p>
      <p>+000-000-0000</p>
    </div>
    <!-- footer menu is here -->
    <div class="flex flex-column w-8">
      <!-- footer menu right -->
      <div class="flex align-items-start">
        <!-- column -->
        <div
          *ngFor="let footerItem of footerItems"
          class="flex flex-column justify-content-around px-3 pb-4"
        >
          <h3>{{ footerItem.id }}</h3>
          <img
            width="20"
            height="20"
            src="https://img.icons8.com/ios-glyphs/30/999999/more.png"
            alt="more"
          />
          <ul>
            <!-- index is each footerItem that we wanna loop -->
            <li *ngFor="let index of footerItem.items">
              <a [routerLink]="index.path">{{ index.title }}</a>
            </li>
          </ul>
        </div>
        <div>
          <h3>طرف قرارداد با</h3>
          <img
            width="20"
            height="20"
            src="https://img.icons8.com/ios-glyphs/30/999999/more.png"
            alt="more"
          />
          <div>
            <img
              width="40"
              height="40"
              src="https://img.icons8.com/ios/40/999999/paypal.png"
              alt="paypal"
              class=""
            />
            <img
              width="40"
              height="40"
              src="https://img.icons8.com/ios/40/999999/paypal.png"
              alt="paypal"
              class=""
            />
            <img
              width="40"
              height="40"
              src="https://img.icons8.com/ios/40/999999/paypal.png"
              alt="paypal"
              class=""
            />
          </div>
        </div>
      </div>
      <!-- copyright section -->
      <div class="">
        <p class="border-solid border-none border-top-1 py-4">
          © 2023 mobina jafari
        </p>
      </div>
    </div>
  </div>
</div>
