<!-- footer -->

<div class="line-height-4 bottom-0 right-0 left-0 static w-full">
  <!-- footer email input -->

  <div
    class="flex flex-column justify-content-center align-items-center mb-5 border-top-1 border py-4 mt-2 email-input-section"
  >
    <h1 class="text-2xl">{{ this.emailTitle }}</h1>
    <p class="text-sm">{{ this.emailDescription }}</p>
    <img
      width="20"
      height="20"
      src="https://img.icons8.com/ios-glyphs/30/999999/more.png"
      alt="more"
    />
    <div class="my-1 border-none">
      <div class="w-30rem email-wrapper m-3">
        <input
          type="email"
          placeholder="{{ this.emailPlaceHolder }}"
          class="p-2 outline-none m-0 border-none email-wrapper w-9"
        />
        <button
          type="button"
          class="w-3 p-2 border-round-sm border-noround-right border-none cursor-pointer text-white bg-black-alpha-60"
        >
          {{ this.emailButton }}
        </button>
      </div>
    </div>
  </div>
  <!-- starting the footer box -->
  <div
    class="flex footer justify-content-evenly align-items-center text-white-alpha-80 p-7"
  >
    <!-- address and information section -->
    <div class="flex flex-column w-3 border-left-1 border-solid border-none">
      <h3 class="text-base">{{ this.footerAddressTitle }}</h3>
      <div class="w-12rem">
        <p>
          {{ this.footerAddressInfo }}
        </p>
      </div>
      <p class="mt-4">{{ this.footerPhoneTitle }}</p>
      <p>{{ this.footerPhoneInfo }}</p>
    </div>
    <!-- footer menu is here -->
    <div class="flex flex-column w-9">
      <!-- footer menu right -->
      <div class="flex align-items-start">
        <!-- column -->
        <div
          *ngFor="let footerItem of footerItems"
          class="flex flex-column justify-content-around px-7 pb-4"
        >
          <h3 class="mb-1">{{ footerItem.id }}</h3>
          <img
            width="20"
            height="20"
            src="https://img.icons8.com/ios-glyphs/30/999999/more.png"
            alt="more"
          />
          <ul class="pt-3">
            <!-- index is each footerItem that we wanna loop -->
            <li *ngFor="let index of footerItem.items">
              <a [routerLink]="index.path">{{ index.title }}</a>
            </li>
          </ul>
        </div>
        <div>
          <h3>{{ this.footerColumn4 }}</h3>
          <!-- image footer -->
          <img
            width="20"
            height="20"
            src="https://img.icons8.com/ios-glyphs/30/999999/more.png"
            alt="more"
          />
          <div>
            <img
              width="40"
              height="40"
              src="https://img.icons8.com/ios/40/999999/paypal.png"
              alt="paypal"
              class="mx-1"
            />
            <img
              width="40"
              height="40"
              src="https://img.icons8.com/ios/40/999999/paypal.png"
              alt="paypal"
              class="mx-1"
            />
            <img
              width="40"
              height="40"
              src="https://img.icons8.com/ios/40/999999/paypal.png"
              alt="paypal"
              class="mx-1"
            />
          </div>
        </div>
      </div>
      <!-- copyright section -->
      <div class="">
        <p class="border-solid border-top-1 py-4 pr-4 border-none">
          {{ this.footerCopyRight }}
        </p>
      </div>
    </div>
  </div>
</div>
