<div
  class="w-full flex flex-column text-center align-items-center justify-content-center mt-8"
>
  <h1 class="p-5" class="flex align-items-center justify-content-around">
    {{ loginTitle }}
  </h1>
  <form class="mt-3 password" [formGroup]="loginForm">
    <input
      formControlName="email"
      class="p-1"
      pInputText
      placeholder="{{ emailInput }}"
      class="block m-2 p-2"
    />
    <p-password
      [toggleMask]="true"
      styleClass="block m-2 p-2 password"
      formControlName="password"
      styleClass="password-input"
      placeholder="{{ passwordInput }}"
    ></p-password>
  </form>
  <p-button
    label="{{ loginTitle }}"
    styleClass="m-2 py-2 px-3"
    severity="secondary"
    [raised]="true"
    [text]="true"
  ></p-button>
</div>
<p-divider styleClass="my-4 w-9 mx-auto"></p-divider>
<div class="text-center" *ngFor="let loginLink of loginLinks">
  <a routerLink="{{ loginLink.path }}" class="px-3">{{ loginLink.title }}</a>
</div>
