<div
  class="w-full flex flex-column text-center align-items-center justify-content-center mt-8"
>
  <h1 class="p-5" class="flex align-items-center justify-content-around">
    فراموشی رمز عبور
  </h1>
  <p class="my-4">
    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
    طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
    لازم است
  </p>
  <form class="mt-3">
    <input formControlName="email" class="p-1" pInputText placeholder="ایمیل" />
  </form>
  <p-button
    label="بازیابی رمز عبور"
    styleClass="my-3 py-2 px-3"
    severity="secondary"
    [raised]="true"
    [text]="true"
  ></p-button>
</div>
<p-divider styleClass="my-4 w-9 mx-auto"></p-divider>
<div class="text-center">
  <a routerLink="/home" class="px-3"> بازگشت به خانه </a>
</div>
