<div class="">
  <h4 class="mb-4 text-center w-full">{{ setCommentTitle }}</h4>
  <form [formGroup]="commentForm" class="flex flex-column">
    <!-- username input -->
    <input
      type="text"
      formControlName="username"
      pInputText
      placeholder="{{ setCommentUsernameInput }}"
      class="px-3 py-2 m-2"
    />
    <!-- username validation -->
    <p class="error-message">{{ usernameValidationMessage }}</p>
    <!-- <div
        *ngIf="
          commentForm.get('username')?.invalid &&
          commentForm.get('username')?.touched
        "
      >
        <span
          class="error-message m-2"
          *ngIf="commentForm.get('username')?.errors?.['required']"
          >{{ requiredErrorMessage }}</span
        >
      </div> -->
    <!-- email input -->
    <input
      type="text"
      formControlName="email"
      pInputText
      placeholder="{{ setCommentEmailInput }}"
      class="px-3 py-2 m-2"
    />
    <!-- email validation -->
    <p class="error-message">{{ emailValidationMessage }}</p>
    <!-- <div
        *ngIf="
          commentForm.get('email')?.invalid && commentForm.get('email')?.touched
        "
      >
        <span
          *ngIf="commentForm.get('email')?.errors?.['required']"
          class="error-message m-2"
          >{{ requiredErrorMessage }}</span
        >
        <span
          *ngIf="commentForm.get('email')?.errors?.['email']"
          class="error-message m-2"
          >{{ emailErrorMessage }}</span
        >
      </div> -->
    <!-- comment input -->
    <textarea
      rows="5"
      cols="30"
      pInputTextarea
      [autoResize]="true"
      formControlName="content"
      placeholder="{{ setCommentTextareaInput }}"
      class="px-3 py-2 m-2"
    ></textarea>
    <!-- comment validation -->
    <p class="error-message">{{ commentValidationMessage }}</p>
    <!-- <div
        *ngIf="
          (commentForm.get('content')?.invalid &&
            commentForm.get('content')?.touched) ||
          commentForm.get('content')?.dirty
        "
      >
        <span
          *ngIf="commentForm.get('content')?.errors?.['required']"
          class="error-message m-2"
          >{{ requiredErrorMessage }}</span
        >
      </div> -->
  </form>
  <p-button
    label="{{ setCommentButton }}"
    styleClass="w-full py-2 px-3 mx-auto my-2"
    severity="secondary"
    [raised]="true"
    [text]="true"
  ></p-button>
</div>
