// global element styles
a {
  color: #000;
}

* {
  font-family: "Dirooz";
}

// variables

// font face
@font-face {
  font-family: "Dirooz";
  src: url("./assets/fonts/Dirooz.ttf") format("truetype");
  font-weight: normal;
}

// mixins
