@import "primeicons/primeicons.css";

// global element styles
a {
  color: #000;
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  font-family: "Dirooz";
  margin: 0;
  padding: 0;
  direction: rtl;
  box-sizing: border-box;
  border-color: #999;
  outline: none;
}

.p-button-link {
  color: #000;
}

// variables

$primary-black: #555;

// font face
@font-face {
  font-family: "Dirooz";
  src: url("./assets/fonts/Dirooz.ttf") format("truetype");
  font-weight: normal;
}

// mixins

@mixin box-shadow($opacity) {
  $color: rgba(0, 0, 0, $opacity);
  box-shadow: 0px 0px 10px 0px $color;
}
