// global element styles
a {
  color: #000;
}

* {
  font-family: "Dirooz";
  margin: 0;
  padding: 0;
}

// variables

$primary-black: #555;

// font face
@font-face {
  font-family: "Dirooz";
  src: url("./assets/fonts/Dirooz.ttf") format("truetype");
  font-weight: normal;
}

// mixins
