<!-- header menu -->
<div class="flex px-3 py-4 m-auto align-items-center justify-content-around">
  <a routerLink="/home" appTooltip="hello world:|" placement="bottom"
    ><img src="assets/images/logo.webp" alt="logo-menu"
  /></a>
  <ul class="flex align-items-center justify-content-around px-2">
    <li class="list-none px-2" *ngFor="let menuItem of menuItems">
      <!-- index is each MenuItem that we wanna loop -->
      <a
        *ngFor="let index of menuItem.items"
        [routerLink]="index.path"
        class="no-underline color-black px-4 py-3 menu-item"
        routerLinkActive="active-menu-item"
        >{{ index.title }}</a
      >
    </li>
  </ul>

  <!-- primeNG -->

  <!-- <div class="flex align-items-center justify-content-around px-2">
    <div class="card flex justify-content-center">
      <p-button
        class="mx-1"
        *ngFor="let menuItem of menuItems"
        [routerLink]="menuItem.path"
        routerLinkActive="active-menu-item"
        label="{{ menuItem.title }}"
        styleClass="p-button-link"
      ></p-button>
    </div>
  </div> -->

  <img
    width="20"
    height="20"
    src="https://img.icons8.com/material-rounded/24/search.png"
    alt="search"
    class="cursor-pointer"
  />
  <div appTooltip="hello" placement="right">
    <p>test tooltip end</p>
  </div>
</div>
