<div>
  <header>
    <h1 class="text-center">{{ aboutUsTitle }}</h1>
    <div class="flex max-w-30rem">
      <p>{{ aboutUsContent }}</p>
      <img src="" alt="about-us-pic" />
    </div>
  </header>
  <div class="flex">
    <img src="" alt="about-us-pic" />
    <p>{{ aboutUsContent }}</p>
  </div>
  <div class="flex">
    <p>{{ aboutUsContent }}</p>
    <img src="" alt="about-us-pic" />
  </div>
  <div class="flex">
    <img src="" alt="about-us-pic" />
    <p>{{ aboutUsContent }}</p>
  </div>
</div>
